/* HEADER */
.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* DATE */
#date {
  margin-bottom: 40px;
}

/* SCHEDULE SECTION */
#schedule {
  margin-bottom: 40px;
}
.hour {
  box-sizing: border-box;
  border: 1px solid #bbb;
  border-left: none;
  border-bottom: none;
  width: 90px;
  padding: 5px 10px;
}
.hourNotes {
  box-sizing: border-box;
  width: calc(100% - 130px);
  border: none;
  border-top: 1px solid #bbb;
  background-color: #e9ecef;
}
.last-hour,
.last-hourNotes {
  border-bottom: 1px solid #bbb;
}
.saveBtn {
  box-sizing: border-box;
  width: 40px;
  border: 1px solid #bbb;
  border-bottom: none;
  background-color: #888;
  border-radius: 0 10px 10px 0;
}
.fa-save {
  color: white;
}
